<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title> HTML Login page </title>
	<link rel="stylesheet" href="style.css">
	

</head>																										
<body >
	 <style>
         body {
            background-image: url("portal/chat/templates/chat/image.jpg");
         }
      </style><center>
		<div class="login-box">
			<center><h1> Login-box</h1></center>
				<div class="text-box">
					<i class='fas fa-user'></i>
					<input type="text" placeholder="username" name="" value="">
				</div>
		<div class="text-box">
		    <i class='fas fa-user-lock'></i>	
			<input type="password" placeholder="password" name="" value="">
		</div>
		<input class="btn" type="button" name="" value="sign in"> </center>
		

	</div>

</body>
</html>