{% extends 'base.html' %}

{% block title %}Chatroom{% endblock %}

{% block content %}
<h2>Chat</h2>
    <div>
        <h3>user</h3>
        {% for m in m1 %}
            <li>
                {{ m.message }}
            </li>
        {% endfor %}
    </div>
    <div>
        <h3>counsellor</h3>
        {% for m in m2 %}
            <li>
                {{ m.message }}
            </li>
        {% endfor %}
    </div>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send" />
</form>
{% endblock %}