{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container" style="color :green; text-align:center;padding-top:20px;">
    <img src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg">
    <p>
        <h2> Hi {{ user.username }}!</h2>
    </p>
</div>

<div class="container" style="color:blue; text-align:center;padding-bottom:10px;">
    <a href="{% url 'Recent' %}" target="_blank" class="btn btn-light">
        <h3>Give me a student</h3>
    </a>
</div>

<div class="container">
    <p style="color:green; text-align:center;">STUDENTS WAITING TO BE COUNSELLED</p>
    <p style="color :green; text-align:center;" class="students_waiting" id="students_waiting">NO OF STUDENTS WAITING
        TO BE COUNSELLED </p>
</div>
<div class="container">
    <script>
        console.log({ m });
    </script>
    {% if m == 1 %}
    <p style="color:blue; text-align:center;">AVAILABLE</p>
    {% else %}
    <p style="color:blue; text-align:center;">UNAVAILABLE</p>
    {% endif %}

    <div style="color:blue; text-align:center;">
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-light" type="submit" name="change_status" value="CHANGE_STATUS" />

        </form>
        <br>
        <button onclick="location.href = '{% url 'logout' %}';" type="button" class="btn btn-light">LOGOUT</button>

        <button onclick="location.href = '{% url 'update' %}';" type="button" class="btn btn-light">UPDATE PROFILE</button>
        <button onclick="location.href = '{% url 'home' %}';" type="button" class="btn btn-light">HOME</button>


    </div>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% else %}
<div align="center" style="padding-top:80px;">
    <h4 style="padding-bottom:10px;">You are not logged in,This is only for Counsellors.</h4>
<h5><a href="{% url 'login' %}">LOGIN IF YOU ARE A COUNSELLOR</a></h5>
<h5><a href="{% url 'home' %}">NOT A COUNSELLOR-HOME</a></h5>
</div>
{% endif %}
<script>

    function refresh() {
        $.ajax({
            url: '/chat/waiting_students',
            success: function (data) {

                x = JSON.parse(data["data"]);
                console.log(x.length);
                $('.students_waiting').html(x.length);
            },
            error: function () {
                console.log('Ajax Error');
            }
        });
    }

    $(function () {
        refresh();
    });
    refresh();
    setInterval("refresh()", 1000);
</script>
{% endblock %}