{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <a href="{% url 'update' %}">update</a>
  <a href="{% url 'Recent' %}">Give me a student</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
    <div>
        <a href="{% url 'studentCounselling' %}">I want to talk</a>
    </div>
{% endif %}
{% endblock %}