/*body{
	background-image:url("bluebackground.jpg");
}*/
h1{
	color: white;
}

#sam{
	color:black;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:700;
	font-size: 50px;
}
.split {
  height: 25%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20;
  overflow-x: hidden;
  padding-top: 120px;
}

hr{
	border-top: 5px solid #000;
}
/* Control the left side */
.left {
  left: 0;
  background-color: red;
  margin-top: 17%;
  margin-left: 100px;
}

/*.sam{
	background-color: #decacc;
}*/
/* Control the right side */
.right {
  right: 0;
  margin-top: 17%;
  margin-right: 100px;
  background-color: #e06371;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}*/