@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.45;
  background-color: #363636;
}

.chatbot__overview {
  background-color: #363636;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  min-height: 80vh;
  max-height: 80vh;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 0;
}

.chatlist {
  font-family: inherit;
  font-size: 1em;
  display: flex;
  flex-flow: column nowrap;
  overflow-x:scroll;
  width: 100%;
  max-width: 35em;
  max-height: 75vh;
  margin: 0 auto;
}

.block--background {
  background-color: #363636;
  width: 100vw;
  height: 100vh;
}

#chatform {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 35em;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1em;
  font-family: Helvetica;
}
@media screen and (max-width: 29em) {
  #chatform {
    width: 90%;
  }
}

.chatbox-area {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  height: auto;
  width: 100%;
}

textarea[name="message"] {
  resize: none;
  border: 2px solid #27ae60;
  border-right: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  height: 3em;
  margin: 0;
  padding: 0.75em;
  border-radius: 8px 0px 0px 8px;
  font-family: inherit;
  font-size: 1em;
}

/* textarea[name="message"]:focus {
  outline: none;
  border: 2px solid #4bd786;
} */

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 25%;
  margin: 0;
  background-color: #27ae60;
  color: #fff;
  border: 2px solid #27ae60;
  border-left: 0;
  border-radius: 0 8px 8px 0;
  font-family: inherit;
  font-size: 1em;
  transition: 200ms all ease-in;
}
input[type="submit"]:hover {
  background-color: #4bd786;
  border-color: #4bd786;
  color: #fff;
}

.input__nested-list {
  list-style: disc;
  list-style-position: inside;
  padding: 0.5em;
}
.input__nested-list:first-child {
  padding-top: 1em;
}

.input__nested-link {
  color: #2ecc71;
  text-decoration: none;
  border-bottom: 1px solid #2ecc71;
}

::-webkit-scrollbar {
  width: 0.65em;
  /* for vertical scrollbars */
  height: 0.65em;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.a{
  overflow: auto;
}

textarea::placeholder{
  padding-top: 10%;
  text-align: center;
}