#sam{
	color:black;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:700;
	font-size: 50px;
}
.centered1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
