body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	

}
.login-box{
	width: 280px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

   color: red;
}
.login-box h1{
	float: left;
	border-bottom: 2px solid white;
	padding: 5px;
}
.text-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	margin: 8px;
	border-bottom: 1px solid white;
	color: green;

}
.btn{
	font-size: 25px;
	align:center;
	color: green;
}

